{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo">
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <form method="post" class="form-card">
      {% csrf_token %}
    <input class="form-card-title" type="text" name="titulo"placeholder="Título"/>
    <textarea class="autoresize" name="detalhes" placeholder="Digite o conteúdo..."></textarea>
    <button type="submit" class="btn">Criar</button>
  </form>

  <div class="card-container">
      {% for note in notes %}
      <div class="card {favorito}">
        <div class="cabecalho">
            <h3 class="card-title">{{note.title}}</h3>
            <div class="botoes">
                <a class="update-button" href="/edit/{id}", title="Editar anotação"><i class="bi bi-pencil"></i></a>
                <a class="delete-button" href="/delete/{id}", title="Apagar anotação"><i class="bi bi-trash"></i></a>
                <a class="btn-favorito" href="/favoritar/{id}" title="Favoritar anotação"></a>
            </div>
        </div>
        <div class="card-content">
            <p>{{note.content}}</p>
        </div>
      </div>
      {% endfor %}
  </div>
</main>

{% endblock %}